| Hi,

| Strider-CD here. The tests for #{displayName} have passed!

| The job was on #{branchName} by #{author}.
| Job type: #{triggerType}
| Job message: #{triggerMessage}

| They completed successfully at #{finishTime}.

| It took a total of #{elapsedTime} minutes to run the tests.

| View test output at: 
| #{url}

| -----BEGIN LOG TAIL (last 4kb)-----
| #{logTail}
| -----END LOG TAIL-----

| View test output at: 
| #{url}

| Regards, 
| - Strider-CD
| Brilliant Continuous Deployment